<div class="step-container flex flex-col w-full h-full rounded-lg">
  <div class="step-top w-full">
    <h1 class="text-2xl font-bold mb-4">Select your plan</h1>
    <p class="mb-6">You have the option of monthly or yearly billing.</p>
    <div class="card">
      <div
        class="w-full rounded-lg  bg-white  card-content"
        [ngClass]="{'border-blue-500': selectedPlan === 'Arcade', 'border-gray-300': selectedPlan !== 'Arcade'}"
        (click)="selectPlan('Arcade')">
        <div class="content-top">
          <div class="flex flex-col items-center">
            <img src="assets/images/icon-arcade.svg" class>
          </div>
          <div class="content-text">
            <span class="text-Denim my-4 font-bold">Arcade</span>
            <div *ngIf="isMonthly; else yearlyArcade">$9/mo</div>
          </div>
        </div>
        <ng-template #yearlyArcade>
          <div>$90/yr</div>
          <div class="text-sm text-Denim mt-4">2 months free</div>
        </ng-template>
      </div>
      <div
        class="w-full rounded-lg  bg-white  card-content"
        [ngClass]="{'border-blue-500': selectedPlan === 'Advanced', 'border-gray-300': selectedPlan !== 'Advanced'}"
        (click)="selectPlan('Advanced')">
        <div class="content-top">
          <div class="flex flex-col items-center">
            <img src="assets/images/icon-advanced.svg">
          </div>
          <div class="content-text">
            <span class="text-Denim my-4 font-bold">Advanced</span>
            <div *ngIf="isMonthly; else yearlyAdvanced">$12/mo</div>
          </div>
        </div>
        <ng-template #yearlyAdvanced>
          <div>$120/yr</div>
          <div class="text-sm text-Denim mt-4">2 months free</div>
        </ng-template>
      </div>
      <div
        class="w-full rounded-lg  bg-white  card-content"
        [ngClass]="{'border-blue-500': selectedPlan === 'Pro', 'border-gray-300': selectedPlan !== 'Pro'}"
        (click)="selectPlan('Pro')">
        <div class="content-top">
          <div class="flex flex-col items-center">
            <img src="assets/images/icon-pro.svg">
          </div>
          <div class="content-text">
            <span class="text-Denim my-4 font-bold">Pro</span>
            <div *ngIf="isMonthly; else yearlyPro">$15/mo</div>
          </div>
        </div>
        <ng-template #yearlyPro>
          <div>$150/yr</div>
          <div class="text-sm text-Denim mt-4">2 months free</div>
        </ng-template>
      </div>
    </div>
    <div class="flex items-center justify-center mb-6 w-full toggle-section">
      <span class="mr-2"
        [ngClass]="{'no-active': !isMonthly, 'text-gray-900': isMonthly}">Monthly</span>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only" [(ngModel)]="isMonthly"
          (change)="toggleBillingCycle($event)">
        <div
          class="w-11 h-6 bg-Denim rounded-full peer dark:bg-gray-700 peer-checked:bg-blue-600"></div>
        <div
          class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition-transform transform"
          [ngClass]="{'translate-x-6': !isMonthly, 'translate-x-0': isMonthly}"></div>
      </label>
      <span class="ml-2"
        [ngClass]="{'no-active': isMonthly, 'text-gray-900': !isMonthly}">Yearly</span>
    </div>
    <div *ngIf="showError" class="error mb-4 text-center">
      Please choose a plan to proceed.
    </div>
    <div class="flex justify-between button-desktop w-full">
      <button class="px-4 py-2 rounded go-btn" (click)="prevStep()">Go
        Back</button>
      <button class="button text-white py-3 px-6 rounded"
        (click)="nextStep()">Next Step</button>
    </div>
  </div>
</div>

<div class="flex justify-between test py-3">
  <button class="px-4 py-2 rounded go-btn button-mobile" (click)="prevStep()">Go
    Back</button>
  <button class="text-white py-3 px-6 bg-Denim rounded button-mobile"
    type="submit"
    (click)="nextStep()">Next Step</button>
</div>
