.body {
  @apply w-1/2 h-1/2 justify-center items-center content-center;
}
button {
  background-color: #022959;
}
.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
}
