<section class="flex justify-center items-center min-h-screen">
  <div class="flex shadow-md rounded-lg p-4 bg-white ">
    <app-aside-nav class="w-2/5"></app-aside-nav>
    <div class="w-3/5">
      <div *ngIf="currentStep === 1">
        <app-step-one></app-step-one>
      </div>
      <div *ngIf="currentStep === 2">
        <app-step-two></app-step-two>
      </div>
      <div *ngIf="currentStep === 3">
        <app-step-three></app-step-three>
      </div>
      <div *ngIf="currentStep === 4">
        <app-step-four></app-step-four>
      </div>
    </div>
  </div>
</section>
