<section class="section">
  <div class="top-section ">
    <app-aside-nav class=" "></app-aside-nav>
    <div class="flex-grow relative form-container">
      <div *ngIf="currentStep === 1">
        <app-step-one class=" "></app-step-one>
      </div>
      <div *ngIf="currentStep === 2">
        <app-step-two class=" "></app-step-two>
      </div>
      <div *ngIf="currentStep === 3">
        <app-step-three class=" "></app-step-three>
      </div>
      <div *ngIf="currentStep === 4">
        <app-step-four class=" "></app-step-four>
      </div>
    </div>
  </div>
</section>
