<aside class="aside-nav">
  <div class="nav-step flex items-center mb-8">
    <div
      class="step-number">1</div>
    <div>
      <h2 class="step-title font-bold">STEP 1</h2>
      <p>Your Info</p>
    </div>
  </div>
  <div class="nav-step flex items-center mb-8">
    <div
      class="step-number ">2</div>
    <div>
      <h2 class="step-title font-bold">STEP 2</h2>
      <p>Select Plan</p>
    </div>
  </div>
  <div class="nav-step flex items-center mb-8">
    <div
      class="step-number">3</div>
    <div>
      <h2 class="step-title font-bold">STEP 3</h2>
      <p>Add-Ons</p>
    </div>
  </div>
  <div class="nav-step flex items-center">
    <div
      class="step-number ">4</div>
    <div>
      <h2 class="step-title font-bold">STEP 4</h2>
      <p>Summary</p>
    </div>
  </div>
</aside>
