.aside-nav {
  @apply w-full h-full p-4 rounded-lg text-white;
  background-image: url("/assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  height: 500px;
  /* width: 274px; */
}

.nav-step {
  @apply mb-8;

  .step-number {
    @apply flex items-center justify-center w-8 h-8 rounded-full mr-4 border border-solid border-white text-white;
    transition: all 0.3s ease;
  }

  .font-normal {
    font-weight: 100;
    font-size: 13px;
    color: #abbcff;
  }
}

.nav-step .step-number.active {
  background-color: #bee2fd;
  border: none;
  @apply text-Denim;
}
