.go-btn {
  color: #9699aa;
  background-color: #fff;
}
.section-maney {
  background-color: #f8f9ff;
}
.section {
  border-bottom: solid 1px #9699aa;
}
.btn {
  background-color: #483eff;
}
.button-mobile {
  display: none;
}

/* Mobile Styles */
@media (max-width: 480px) {
  .button-desktop {
    display: none;
  }
  .button-mobile {
    display: block;
  }
}
