.add-on-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-on-item label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.btn {
  background-color: #022959;
}
.go-btn {
  color: #9699aa;
  background-color: #fff;
}
