.add-on-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid #9699aa 1px;
}

.add-on-item label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bg-highlight {
  background-color: #f8f9ff;
  border: solid #483eff 1px;
}

.btn {
  background-color: #022959;
}

.go-btn {
  color: #9699aa;
  background-color: #fff;
}
