/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #bee2fd;
  color: #9699aa;
}
button {
  border: none;
  cursor: pointer;
  font-size: 16px;
}
h1 {
  @apply text-Denim;
}
